<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Contacts</title>
    <link rel="stylesheet" href="/css/contacts.css" />
</head>
<body>
<div class="container">
    <h1>Contacts</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Last Name</th>
            <th>Phone Number</th>
        </tr>
        </thead>
        <tbody id="contactsBody">
        <!-- Данные будут загружены сюда -->
        </tbody>
    </table>
    <a href="/contacts/add">Add New Contact</a>
</div>

<script src="/js/load-contacts.js"></script>
</body>
</html>
